html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
    }
    body {
      background-image: radial-gradient(circle at 102% 95%, rgb(0, 199, 149) 0%, rgba(52, 120, 220, 0.25) 50%, rgba(52, 120, 220, 0) 75%);
      background-color: rgb(17, 18, 40);
    }
    canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
	}
    #canvas-reference {
        display: none;
      }   
    img {
      display:none;
    }






/*https://i.ibb.co/g6N0r6K/Pepe.png
https://i.ibb.co/rKPfyCg/supreme.png
https://i.ibb.co/zGmKy2z/Untitled-1.png*/